ETH_RPC_URL=https://mainnet.infura.io/v3/YOUR_KEY
ETH_WS_URL=wss://mainnet.infura.io/ws/v3/YOUR_KEY
BSC_RPC_URL=https://bsc-dataseed.binance.org/
POLYGON_RPC_URL=https://polygon-rpc.com
AVAX_RPC_URL=https://api.avax.network/ext/bc/C/rpc
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc

PRIVATE_KEY=0xYOUR_PRIVATE_KEY

FLASHBOTS_RELAY_URL=https://relay.flashbots.net
FLASHBOTS_SIGNER_KEY=0xYOUR_FLASHBOTS_SIGNER_KEY

MIN_PROFIT_USD=10.0
MAX_GAS_PRICE_GWEI=100
SLIPPAGE_BPS=50
TRADE_AMOUNT=0.1
